{% extends "rho/base.html" %}
{% load static %}

{% block content %}



<br><br> <br><br><br><br>
<div class="container">
    {% if keyword|length > 20 %}
    <h2 class="text-info" style="text-align: center;">关键词长度不能超过20</h2>
    {% else %}
    <div class="block-heading">
        <h2 class="text-info" style="text-align: center;">电影搜索结果</h2>
        <p style="text-align: center; color: gray;">搜到{{num}}条结果，共耗时{{time}}</p>
    </div>
    <div class="row justify-content-center">
        {% for stuff in Set %}
        <div class="col-sm-6 col-lg-2">
            <div class="card clean-card text-center">
                {% if stuff.actor %}
                <a href="/movie/{{stuff.id}}"><img class="card-img-top w-100 d-block" src="/static/rho/image/{{stuff.id}}.jpg" /></a>
                <div class="card-body info">
                    <a href="/movie/{{stuff.id}}"><h5 class="card-title" >{{ stuff.name }}</h5></a>
                    <p class="card-text"></p>
                </div>
                {% else %}
                <a href="/actor/{{stuff.id}}"><img class="card-img-top w-100 d-block" src="/static/rho/image/actor_{{stuff.id}}.jpg"/></a>
                <div class="card-body info">
                    <a  href="/actor/{{stuff.id}}"><h5 class="card-title">{{ stuff.name }}</h5></a>
                    <p class="card-text"></p>
                </div>
                {% endif%}
            </div>
            <br>
        </div>
        {% endfor %}
    </div>

    <div class="row justify-content-center">   
        <nav aria-label="Page navigation example">
            <br> <br> <br> 
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" href="?typ={{typ}}&keyword={{keyword}}&page=1" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
              
                {% if pre %}
                <li class="page-item">
                    <a class="page-link" href="?typ={{typ}}&keyword={{keyword}}&page={{pre}}" aria-label="Previous">
                        <span aria-hidden="true">&lt;</span>
                    </a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link"  aria-label="Previous" aria-disabled="true">
                        <span aria-hidden="true" >&lt;</span>
                    </a>
                </li>
                {% endif %}
              
              {% if pre2 %}
                <li class="page-item disabled"><a class="page-link" >...</a></li>
                <li class="page-item"><a class="page-link" href="?typ={{typ}}&keyword={{keyword}}&page={{pre2}}">{{pre2}}</a></li>
              {% endif %}
              {% if pre1 %}
                <li class="page-item"><a class="page-link" href="?typ={{typ}}&keyword={{keyword}}&page={{pre1}}">{{pre1}}</a></li>
              {% endif %}

              <li class="page-item active"><a class="page-link" aria-current="page" href="?typ={{typ}}&keyword={{keyword}}&page={{now_page}}">{{now_page}}</a></li>

              {% if nxt1 %}
                <li class="page-item"><a class="page-link" href="?typ={{typ}}&keyword={{keyword}}&page={{nxt1}}">{{nxt1}}</a></li>
              {% endif %}
              {% if nxt2 %}
                <li class="page-item"><a class="page-link" href="?typ={{typ}}&keyword={{keyword}}&page={{nxt2}}">{{nxt2}}</a></li>
                <li class="page-item disabled"><a class="page-link" >...</a></li>
              {% endif %}

              {% if nxt %}
              <li class="page-item">
                  <a class="page-link" href="?typ={{typ}}&keyword={{keyword}}&page={{nxt}}" aria-label="Next">
                      <span aria-hidden="true">&gt;</span>
                  </a>
              </li>
              {% else %}
              <li class="page-item disabled">
                  <a class="page-link"  aria-label="Next" aria-disabled="true">
                      <span aria-hidden="true" >&gt;</span>
                  </a>
              </li>
              {% endif %}

              <li class="page-item">
                <a class="page-link" href="?typ={{typ}}&keyword={{keyword}}&page={{tot_page}}" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
            </ul>

            <form class="form-inline mr-auto"  method="GET"> <!-- style="text-align:center;"-->
                <div style="margin: auto;">
                    <input type="hidden" name="typ" value="{{typ}}">
                    <input type="hidden" name="keyword" value="{{keyword}}">
                    总共{{tot_page}}页，跳转至
                    <input type="text" style="border-radius: 5px; border: 2px solid ; width: 60px; height: 30px;" class="form-control" name="page" />
                    页
                </div>
            </form>
          </nav>
    </div>
    {% endif %}    
</div>
{% endblock %}
